<!DOCTYPE html>

<html lang="en">
  <head>
    <title>My TinyApp</title>
  </head>

  <body>

    <header>
      <% include ./partials/_header.ejs %>
    </header>
    <br>

    <% for(keys in urls){ %>
       <ul>
        <form method="POST" action= <%= `/urls/${keys}/delete` %>>
          <li>
            <%= "id: " + keys + " " + urls[keys] %>
            <button type="submit">Delete</button>
          </li>
        </form>
      </ul>
    <% } %>
    <br>
      <a href="">I'm a dead link</a>
    <br>

  </body>

</html>