<!DOCTYPE html>

<html lang="en">
  <head>
    <title>My TinyApp</title>
  </head>

  <body>

    <header>
      <% include ./partials/_header.ejs %>
    </header>
    <br>

  <% console.log(urls) %>
   <% console.log(userID) %>
  <% for (userID in urls){ %>
    <% if(userID === user.id){ %>
      <% for(links in user.id){ %>
        <ul>
          <form method="POST" action= <%= `/urls/${links}/delete` %>>
            <li>
              <%= "id: " + links + " " + urls[userID][links] %>
              <a href=<%= `/urls/${links}` %>>Edit</a>
              <button type="submit">Delete</button>
            </li>
          </form>
        </ul>
      <% } %>
    <%} %>
<% } %>
    <br>
      <a href="">I'm a dead link</a>
    <br>

  </body>

</html>