<!DOCTYPE html>
<!-- /urls/:id -->

<html lang="en">
  <head>

    <title>My TinyApp</title>

  </head>

  <body>

    <header>
      <% include ./partials/_header.ejs %>
    </header>

      <h3>ShortURL: <%= `${shortURL}` %></h3>

    <form method="POST" action= /urls/<%= `${shortURL}` %>>
      <input type="text" name="toUpdate">
      <input type="submit" value="Update">
    </form>


  </body>
</html>