<!DOCTYPE html>
<!-- /urls/:id -->

<html lang="en">
  <head>

    <title>My TinyApp show</title>

  </head>

  <body>

    <header>
      <% include ./partials/_header.ejs %>
    </header>

      <!-- <h2>ShortURL<%= `${shortURL} ${urls[shortURL]}` %></h2> -->
      <h1>ShortURL:</h1>
      </h2><%= `${shortURL}` %></h2></p>

    <form method="POST" action= /urls/<%= `${shortURL}` %>>
      <input type="text" name="toUpdate">
      <input type="submit" value="Update">
    </form>


  </body>
</html>