<!DOCTYPE html>

<html lang="en">
  <head>

  </head>

  <body>

    <h1>TinyApp</h1>

    <form method="POST" action="/login">
      <label>Email:</label>
      <input type="email" name="email">
      <br>
      <label>Password:</label>
      <input type="password" name="password">
      <br>
      <input type="submit" value="Login">
    </form>

    <form method="GET" action="/register">
      <input type="submit" value="Register">
    </form>

  </div>
  </body>
</html>