<!DOCTYPE html>

<html lang="en">
  <head>
    <title>My TinyApp</title>
  </head>

  <body>

    <header>
      <% include ./partials/_header.ejs %>
    </header>
    <br>

    <% for(keys in urls){ %>
      <li>
        <%= "id: " + keys + " " + urls[keys] %>
      </li>
    <% } %>
    <br>
      <a href="">I'm a dead link</a>
    <br>






  </body>

</html>