<!DOCTYPE html>

<html lang="en">
  <head>
    <titles>My TinyApp</title>
  </head>

  <body>
      <% for(keys in urls){ %>
        <li>
          <%= "id: " + keys + " " + urls[keys] %>
        </li>
      <% } %>
      <br>
        <a href="">I'm a dead link</a>
      <br>






  </body>

</html>